
<div class="page-content py-5">
    <section class="options-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mb-5">
                    <div class="media shadow-sm p-4 rounded h-100">
                        <!---
                            /* Uncomment if you want to use a FontAwesome icon instead of an image */
                            <div class="theme-icon-holder mr-4"><i class="far fa-life-ring"></i></div>
                        -->
                        <img class="mr-3" src="assets/images/ai.svg" alt="">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="#">Customer Support<i class="fas fa-long-arrow-alt-right ml-2"></i></a></h5>
                            If you use a help desk ticketing software (eg. Zendesk, Groove) you can provide more info here. The illustration used here is from <a class="theme-link" href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>.
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//col-->
                <div class="col-12 col-lg-6 mb-5">
                    <div class="media shadow-sm p-4 rounded h-100">

                        <!---
                            /* Uncomment if you want to use a FontAwesome icon instead of an image */
                            <div class="theme-icon-holder mr-4"><i class="fas fa-code"></i></div>
                        -->
                        <img class="mr-3" src="assets/images/bounty.svg" viewBox="0 0 59 60"alt="">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="docs.html">Documentation<i class="fas fa-long-arrow-alt-right ml-2"></i></a></h5>
                            Have technical questions? Checkout our documentation. The illustration used here is from <a class="theme-link" href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//col-->
                <div class="col-12 col-lg-6 mb-5">
                    <div class="media shadow-sm p-4 rounded h-100">
                        <!---
                            /* Uncomment if you want to use a FontAwesome icon instead of an image */
                            <div class="theme-icon-holder mr-4"><i class="far fa-life-ring"></i></div>
                        -->
                        <img class="mr-3" src="assets/images/brain-right.png" width="236px" height="211px"  alt="">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="#">Customer Support<i class="fas fa-long-arrow-alt-right ml-2"></i></a></h5>
                            If you use a help desk ticketing software (eg. Zendesk, Groove) you can provide more info here. The illustration used here is from <a class="theme-link" href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>.
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//col-->
                <div class="col-12 col-lg-6 mb-5">
                    <div class="media shadow-sm p-4 rounded h-100">

                        <!---
                            /* Uncomment if you want to use a FontAwesome icon instead of an image */
                            <div class="theme-icon-holder mr-4"><i class="fas fa-code"></i></div>
                        -->
                        <img class="mr-3" src="assets/images/hand.svg" viewBox="0 0 59 60"alt="">
                        <div class="media-body">
                            <h5 class="mt-0"><a href="docs.html">Documentation<i class="fas fa-long-arrow-alt-right ml-2"></i></a></h5>
                            Have technical questions? Checkout our documentation. The illustration used here is from <a class="theme-link" href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//col-->
                
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//options-section-->

