<section class="benefits-section theme-bg-light py-5">

  <div class="container">
      <h3 class="mb-2 text-center font-weight-bold section-title">How We work!</h3>
      <div class="mb-5 text-center section-intro">From Web Developers to App Developers to Designers</div>
      <div class="row">
          <div class="item col-12 col-md-6 col-lg-3">
              <div class="item-inner rounded">
                  <div class="icon-holder text-center mx-auto mb-3">
                      <i class="fas fa-code"></i>
                  </div><!--//icon-holder-->
                  <h5 class="mb-3">Webapps Ecommerce and Digital Products</h5>
                  <div>
                  Our dedicated teams of specialists
                  Expert Developers, Engineers and Designers at your disposal
                  Sprint/Millestone based work with unlimited scope changes
                  CD/CI Full Agile methodology and trackable Project Management Process
                  Choose Dedicated Project Manager or manage the project by yourself
                  Back-end/Front-end/Full-Stack Engineers
                  UI/UX Designers
                  DevOps
                  QAs
                  Project Managers
                  <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                  <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
              </div><!--//item-inner-->
          </div><!--//item-->

          <div class="item col-12 col-md-6 col-lg-3">
              <div class="item-inner rounded">
                  <div class="icon-holder text-center mx-auto mb-3">
                      <i class="fas fa-satellite-dish"></i>
                  </div><!--//icon-holder-->
                  <h5 class="mb-3">SEO/SEM Search Engine/Social Media Optimization </h5>
                  <div>Performance, Security, SEO Audit depending on your needs.
                      You get a full report of issues and suggested improvements every week
                      Bi-weekly or Montly
                      We can also fix the issues for you or suggest next steps.


<a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                  <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
              </div><!--//item-inner-->
          </div><!--//item-->

          <div class="item col-12 col-md-6 col-lg-3">
              <div class="item-inner rounded">
                  <div class="icon-holder text-center mx-auto mb-3">
                      <i class="fas fa-cubes"></i>
                  </div><!--//icon-holder-->
                  <h5 class="mb-3">Deployment</h5>
                  <div>Chill Out While We Work

                  Web pages and web applications design based on best practices
                  UX/UI Designer at your disposal
                  Bespoke or themes-based design - you decide!
                  Re-design for a better UI and UX
                  Visual Brand Identity to let the competition behind

                      <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                  <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
              </div><!--//item-inner-->
          </div><!--//item-->

          <div class="item col-12 col-md-6 col-lg-3">
              <div class="item-inner rounded">
                  <div class="icon-holder text-center mx-auto mb-3">
                      <i class="fas fa-rocket"></i>
                  </div><!--//icon-holder-->
                  <h5 class="mb-3">Fully Documented</h5>
                  <div>Project managed by us from A to Z
                      A project that fulfills all your expectations
                      Trackable management system
                      Quality Assurance engineer for the whole process
                      Price based on a scope or hourly rate

                      Design and Development - RWD
                      Fixed price or hourly-based fee
                      Individual evaluation according to your needs
                      Complexity and Agile methodology
                   <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
                  <div class="mt-2"><a href="docs.html">View docs &rarr;</a></div>
              </div><!--//item-inner-->
          </div><!--//item-->

      </div><!--//row-->
      <div class="pt-3 text-center">
          <a class="btn btn-light" href="features.html">View All Features<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
      </div>
  </div>

</section><!--//benefits-section-->
