<header class="header fixed-top">	    
    <div class="branding">
        <div class="container-fluid position-relative">
            <nav class="navbar navbar-expand-lg" >
                <div class="site-logo"><a class="navbar-brand" href="index-2.html"><img class="logo-icon mr-2" src="assets/images/logo-masterazul good-devs 150x75.png" alt="logo"><span class="logo-text">Design &<span class="text-alt">Code Company</span></span></a></div>    

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </button>
                
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="social-list list-inline mt-3 mt-lg-0 mb-lg-0 d-flex ml-lg-5 mr-lg-5">
                        <li class="list-inline-item"><a href="https://twitter.com/Be2youA"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>-->
                        <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>-->
                        <li class="list-inline-item"><a href="https://www.facebook.com/Be-to-you-737763139649691/"><i class="fab fa-facebook-f fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/betoyou_agency/"><i class="fab fa-instagram fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/dipass-io/"><i class="fab fa-github fa-fw"></i></a></li> 
                    </ul><!--//social-list-->
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item mr-lg-4">
                            <a class="nav-link" href="features.html">Work with us</a>
                        </li>
                       
                       <!-- <li class="nav-item mr-lg-4">
                           <a class="nav-link" href="pricing.html">Pricing</a>
                        </li>-->
                        <li class="nav-item dropdown mr-lg-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             What we do!
                            </a>
                            <div class="dropdown-menu dropdown-menu-right rounded shadow menu-animate slideIn" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item has-icon" href="docs.html"><span class="theme-icon-holder mr-2"><i class="fas fa-home fa-fw"></i></span>Website Audits</a>
                              
                                <div class="dropdown-divider m-0"></div>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-1"><span class="theme-icon-holder mr-2"><i class="fas fa-shopping-cart fa-fw"></i></span>Ecommerce</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-2"><span class="theme-icon-holder mr-2"><i class="fas fa-lightbulb fa-fw"></i></span>Web Apps</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-3"><span class="theme-icon-holder mr-2"><i class="fas fa-map-signs fa-fw"></i></span>Website Customization</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-4"><span class="theme-icon-holder mr-2"><i class="fas fa-arrow-down fa-fw"></i></span>Back-end Custom Work</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-5"><span class="theme-icon-holder mr-2"><i class="fas fa-box fa-fw"></i></span>APIs</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-6"><span class="theme-icon-holder mr-2"><i class="fas fa-cogs fa-fw"></i></span>Integrations</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-7"><span class="theme-icon-holder mr-2"><i class="fas fa-tools fa-fw"></i></span>Custom Theme/Plugin Development</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-8"><span class="theme-icon-holder mr-2"><i class="fas fa-laptop-code fa-fw"></i></span>Web Development</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-9"><span class="theme-icon-holder mr-2"><i class="fas fa-tablet-alt fa-fw"></i></span>Mobile Development</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-10"><span class="theme-icon-holder mr-2"><i class="fas fa-book-reader fa-fw"></i></span>Increase Conversion</a>
                                <a class="dropdown-item has-icon" href="docs-page.html#section-11"><span class="theme-icon-holder mr-2"><i class="fas fa-bolt fa-fw"></i></span>Speed Up Your Site</a>

                            </div>
                        </li>
                        <li class="nav-item mr-lg-0">
                            <a class="nav-link" href="/pages/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div><!--//container-->
    </div><!--//branding-->
</header><!--//header-->

