<section class="how-section py-5">
  <div class="container">
      <h3 class="mb-2 text-center font-weight-bold section-title">How Does It Work</h3>
      <div class="mb-5 text-center section-intro">You're only a few simple steps away</div>

      <div class="row">
          <div class="item col-12 col-md-4">
              <div class="icon-holder animated rotateIn delay-0.5s">
                  <img src="assets/images/streamline-free/monitor-loading-progress.svg" alt="">
                  <div class="arrow-holder d-none d-lg-inline-block"></div>
              </div><!--//icon-holder-->
              <div class="desc p-3">
                  <h5><span class="step-count mr-2">1</span>Download</h5>
                  <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div><!--//desc-->
          </div><!--//item-->
          <div class="item col-12 col-md-4">
              <div class="icon-holder animated onScroll rotateIn delay-0.75s">
                  <img src="assets/images/streamline-free/monitor-window.svg" alt="">
                  <div class="arrow-holder d-none d-lg-inline-block"></div>
              </div><!--//icon-holder-->
              <div class="desc p-3">
                  <h5><span class="step-count mr-2">2</span>Customize</h5>
                  <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div><!--//desc-->
          </div><!--//item-->
          <div class="item col-12 col-md-4">
              <div class="icon-holder animated onScroll rotateIn delay-1s">
                  <img src="assets/images/streamline-free/monitor-cash-credit-card.svg" alt="">
              </div><!--//icon-holder-->
              <div class="desc p-3">
                  <h5><span class="step-count mr-2">3</span>Launch</h5>
                  <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
              </div><!--//desc-->
          </div><!--//item-->
      </div><!--//row-->
  </div><!--//container-->
</section><!--//sectios-->
