<div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h1 class="page-heading single-col-max mx-auto">Simple Pricing Plans For Every Project!</h1>
        <h1 class="page-heading single-col-max mx-auto">DIGITAL MARKETING.</h1>
    </div>
</div><!--//page-header-->

<div class="page-content py-5">
    <section class="plans-section mb-5 pb-5">
        <div class="container">
           <!-- <div class="plan-switch text-center mb-4" id="plan-switch">

                <ul class="radio-switch mx-auto shadow-sm">
                    <li class="radio-switch-item">
                        <input type="radio" class="radio-switch-input sr-only" id="radio1" name="radioSwitch" data-plan-cost="plan-cost-monthly" checked>
                        <label for="radio1" class="radio-switch-label">Monthly</label>
                    </li>

                    <li class="radio-switch-item">
                        <input type="radio" class="radio-switch-input sr-only" id="radio2" data-plan-cost="plan-cost-yearly" name="radioSwitch">
                        <label for="radio2" class="radio-switch-label">Yearly</label>
                        <div aria-hidden="true" class="radio-switch-marker"></div>
                    </li>
                </ul>//radio-switch

                <div class="mb-5 plan-switch-intro">Switch to yearly plans and save!</div>

            </div>-->
            <div class="plan-items row justify-content-center" id="plan-items">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="item shadow rounded">
                        <div class="plan-header text-center">
                            <h3 class="plan-title">Personal</h3>
                            <div class="plan-cost">
                                <div class="plan-cost-monthly">
                                    <span class="currency">€</span>
                                    <span class="number">99</span>
                                    <span class="unit">/month</span>
                                </div>
                                <div class="plan-cost-yearly" style="display: none">
                                    <span class="currency">€</span>
                                    <span class="number">990</span>
                                    <span class="unit">/year</span>
                                </div>
                            </div><!--//plan-cost-->
                            <div class="plan-cta">
                                <a class="btn-primary btn" href="#">Get Started</a>
                            </div>
                        </div><!--//plan-header-->

                        <div class="plan-content">
                            <div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
                            <ul class="plan-desc list-unstyled">
                                <li>Feature Lorem <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature tempus<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature Ipsum<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature consectetur<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature nulla nunc<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature vitae leo<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature sit amet<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature adipiscing<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature aptent taciti sociosqu<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                            </ul>
                        </div><!--//plan-content-->
                    </div><!--//item-->
                </div><!--//col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="item shadow rounded">
                        <div class="plan-header text-center">
                            <h3 class="plan-title">Pro</h3>
                            <div class="plan-cost">
                                <div class="plan-cost-monthly">
                                    <span class="currency">€</span>
                                    <span class="number">199</span>
                                    <span class="unit">/month</span>
                                </div><div class="plan-cost-yearly" style="display:none">
                                    <span class="currency">€</span>
                                    <span class="number">1199</span>
                                    <span class="unit">/year</span>
                                </div>
                            </div><!--//plan-cost-->
                            <div class="plan-cta">
                                <a class="btn-primary btn" href="#">Get Started</a>
                            </div>
                        </div><!--//plan-header-->

                        <div class="plan-content">
                            <div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
                            <ul class="plan-desc list-unstyled">
                                <li>Feature Lorem <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature tempus<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature Ipsum<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature consectetur<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature nulla nunc<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature vitae leo<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature sit amet<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature adipiscing<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature aptent taciti sociosqu<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                            </ul>
                        </div><!--//plan-content-->
                    </div><!--//item-->
                </div><!--//col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="item shadow rounded">
                        <div class="plan-header text-center">
                            <h3 class="plan-title">Team</h3>
                            <div class="plan-cost">
                                <div class="plan-cost-monthly">
                                    <span class="currency">€</span>
                                    <span class="number">299</span>
                                    <span class="unit">/month</span>
                                </div>
                                <div class="plan-cost-yearly" style="display:none">
                                    <span class="currency">€</span>
                                    <span class="number">3000</span>
                                    <span class="unit">/year</span>
                                </div>
                            </div><!--//plan-cost-->
                            <div class="plan-cta">
                                <a class="btn-primary btn" href="#">Get Started</a>
                            </div>
                        </div><!--//plan-header-->

                        <div class="plan-content">
                            <div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
                            <ul class="plan-desc list-unstyled">
                                <li>Feature Lorem <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature tempus<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature Ipsum<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature consectetur<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature nulla nunc<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature vitae leo<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature sit amet<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature adipiscing<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature aptent taciti sociosqu<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                            </ul>
                        </div><!--//plan-content-->
                    </div><!--//item-->
                </div><!--//col-->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="item shadow rounded">
                        <div class="plan-header text-center">
                            <h3 class="plan-title">Enterprise</h3>
                            <div class="plan-cost">

                                <span class="number"><i class="far fa-building"></i></span>

                            </div><!--//plan-cost-->
                            <div class="plan-cta">
                                <a class="btn-primary btn" href="#">Contact Us</a>
                            </div>
                        </div><!--//plan-header-->

                        <div class="plan-content">
                            <div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
                            <ul class="plan-desc list-unstyled">
                                <li>Feature Lorem <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature tempus<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature Ipsum<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature consectetur<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature nulla nunc<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature vitae leo<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature sit amet<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature adipiscing<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                                <li>Feature aptent taciti sociosqu<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
                            </ul>
                        </div><!--//plan-content-->
                    </div><!--//item-->
                </div><!--//col-->

            </div><!--//row-->
        </div><!--//container-fluid-->
    </section><!--//plans-section-->
</div><!--//page-content-->

