
<section class="hero-section py-3 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
                <h1 class="site-headline font-weight-bold mb-3 animated zoomIn delay-0.6s"> <h3 data-reactid="226">More than just creative</h3><span data-reactid="227">
                    <p data-reactid="228"><span data-reactid="229 animated">Branding &amp; Arts </span>
                      <!-- react-text: 230 -->
                      +
                       <!-- /react-text --><span data-reactid="237">Web Development</span><!-- react-text: 238 -->
                       +
                       <!-- /react-text --><span data-reactid="239">Digital Marketing</span><!-- react-text: 240 -->
                       +
                       <!-- /react-text --><span data-reactid="233">Content Strategy</span><!-- react-text: 234 -->
                       +
                       <!-- /react-text --><span data-reactid="235">Interactive Design</span><!-- react-text: 236 -->
                       +
                       <!-- /react-text --><span data-reactid="241">Social Media</span><!-- react-text: 242 -->
                       +
                      <!-- /react-text --><span data-reactid="231">Research &amp; UX/CX</span><!-- react-text: 232 -->
                       +
                      <!-- /react-text --><span data-reactid="243">Web Security &amp; Infrastructure</span></p>

                  </span></h1>
                <div class="site-tagline mb-4"> Be-to-you is a full-service creative agency specializing in interactive Design, Web Development, and Digital Communications for Brands that change the world. Headquartered in Madrid, Spain  <span id="typewriter" class="text-primary font-weight-bold">hello hello hello</span>.</div>
                <div class="cta-btns mb-lg-3">
                <a class="btn btn-primary mr-2 mb-3" href="pricing.html">Get Started Free<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
                <a class="btn btn-secondary mb-3" href="docs.html">View Docs<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
                </div>
            </div>
            <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
                <img class="hero-figure mx-auto animated rotateIn delay-1s" src="assets/images/jhipster_family_member_1.svg" alt="">
            </div>
        </div><!--//row-->
    </div>

</section><!--//hero-section-->

