<section class="testimonial-cards-section py-5 theme-bg-light">
  <div class="container">
      <h3 class="text-center mb-2">Trusted By People Like You</h3>
      <div class="section-intro text-center mb-5">Don’t take our word for it. See what our users are saying...</div>
      <div class="testimonial-card-columns card-columns">
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-1.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-twitter"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          👍You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>⭐️⭐️⭐️⭐️⭐️
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-2.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-facebook"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          🚀You can list user reviews or testimonials here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-3.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-product-hunt"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-4.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-twitter"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-5.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-twitter"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-6.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-twitter"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis.
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-7.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-twitter"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-8.jpg" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-twitter"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 👍😄
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
          <div class="card shadow-sm">
              <div class="card-body rounded">
                  <div class="media source-holder">
                      <img src="assets/images/users/user-9.html" class="source-profile mr-3" alt="">
                      <div class="media-body source-meta align-self-center ">
                          <div class="name">User Name</div>
                          <div class="info"><a href="#">@username</a></div>
                      </div>
                      <div class="source-icon"><i class="fab fa-product-hunt"></i></div>
                  </div><!--//media-->

                  <div class="quote-holder">
                      <blockquote class="quote-content mb-0">
                          You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 👍😄
                      </blockquote>
                  </div><!--//quote-holder-->
              </div><!--//card-body-->
          </div><!--//card-->
      </div><!--//testimonial-card-columns-->
  </div><!--//container-->
</section><!--//testimonial-cards-section-->
