<app-header></app-header>
    <section class="hero-section py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">						
				    <h1 class="site-headline font-weight-bold mb-3"> <h3 data-reactid="226">More than just creative</h3><span data-reactid="227">
						<p data-reactid="228"><span data-reactid="229">Branding &amp; Art Direction</span>
						  <!-- react-text: 230 --> +
						  <!-- /react-text --><span data-reactid="231">Research &amp; UX</span><!-- react-text: 232 --> 
						   +
						  <!-- /react-text --><span data-reactid="233">Content Strategy</span><!-- react-text: 234 -->
						   +
						  <!-- /react-text --><span data-reactid="235">Interactive Design</span><!-- react-text: 236 -->
						   +
						  <!-- /react-text --><span data-reactid="237">Web Development</span><!-- react-text: 238 -->
						   +
						  <!-- /react-text --><span data-reactid="239">Digital Marketing</span><!-- react-text: 240 -->
						   +
						  <!-- /react-text --><span data-reactid="241">Social Media</span><!-- react-text: 242 -->
						   +
						  <!-- /react-text --><span data-reactid="243">Web Security &amp; Infrastructure</span></p>
					  </span></h1>
				    <div class="site-tagline mb-4"> Be-to-you is a full-service creative agency specializing in interactive design, web development, and digital communications for brands that change the world. Headquartered in Madrid, Spain <span id="typewriter" class="text-primary font-weight-bold"></span>.</div>
				    <div class="cta-btns mb-lg-3">
                    <a class="btn btn-primary mr-2 mb-3" href="pricing.html">Get Started Free<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
					<a class="btn btn-secondary mb-3" href="docs.html">View Docs<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
				    </div>
			    </div>
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <img class="hero-figure mx-auto" src="assets/images/jhipster_family_member_1.svg" alt="">
			    </div>
		    </div><!--//row-->
		</div>
		
    </section><!--//hero-section-->
    
    <section class="benefits-section theme-bg-light py-5">
	    
	    <div class="container">
		    <h3 class="mb-2 text-center font-weight-bold section-title">Made By Developers</h3>
		    <div class="mb-5 text-center section-intro">From Web Developers to App Developers to Designers</div>
		    <div class="row">
		        <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-satellite-dish"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Quick and Simple</h5>
					    <div>List your project's here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
			    <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-angle-double-right"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Lightening Fast</h5>
					    <div>List your project's benefit here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
			    <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-wrench"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Extendable</h5>
					    <div>List your project's benefit here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
			    <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-book"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Fully Documented</h5>
					    <div>List your project's benefit here. You can change the icon above to any of the 1500+ <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="docs.html">View docs &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
		    </div><!--//row-->
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="features.html">View All Features<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
	    
    </section><!--//benefits-section-->
    
    <section class="how-section py-5">
	    <div class="container">
		    <h3 class="mb-2 text-center font-weight-bold section-title">How Does It Work</h3>
		    <div class="mb-5 text-center section-intro">You're only a few simple steps away</div>
		    
		    <div class="row">
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-loading-progress.svg" alt="">
					    <div class="arrow-holder d-none d-lg-inline-block"></div>
				    </div><!--//icon-holder-->
				    <div class="desc p-3">
						<h5><span class="step-count mr-2">1</span>Download</h5>
					    <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				    </div><!--//desc-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-window.svg" alt="">
					    <div class="arrow-holder d-none d-lg-inline-block"></div>
				    </div><!--//icon-holder-->
				    <div class="desc p-3">
						<h5><span class="step-count mr-2">2</span>Customize</h5>
					    <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				    </div><!--//desc-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-cash-credit-card.svg" alt="">
				    </div><!--//icon-holder-->
				    <div class="desc p-3">
						<h5><span class="step-count mr-2">3</span>Launch</h5>
					    <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				    </div><!--//desc-->
			    </div><!--//item-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//how-section-->
    
   
						
                       
  
    <div class="container"><hr></div>
    <section class="logos-section theme-bg-primary py-5 text-center">
	    <div class="container">
		    <h3 class="text-center">You're In Good Company</h3>
	    <div class="section-intro mb-5">Join 500,000+ users around the world lorem ipsum dolor sit amet</div>
		    <div class="logos-row row mx-auto"> 
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-1.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-2.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-3.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-4.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-5.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-6.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	        </div>    
	    </div><!--//container-->
    </section><!--//logo-section-->
    
    <section class="testimonial-section pb-5">
	    <div class="container">
		    <div class="testimonial-carousel owl-carousel owl-theme">
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-1.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-2.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-facebook"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-3.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-github"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-4.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-product-hunt"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-5.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-6.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-7.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-8.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//testimonial-carousel-->
            <div class="pt-5 text-center">
			    <a class="btn btn-light" href="pricing.html">Get Started<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div><!--//container-->
    </section><!--//testiomonial-section-->
    <div class="container"><hr></div>
    <section class="integration-section text-center py-5">
	    <div class="container">
		    <h3 class="mb-2">Seamless Integrations</h3>
		    <div class="section-intro mb-3">Section intro goes here lorem ipsum</div>
		    <div class="integration-list row justify-content-center py-5">
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/slack.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/jira.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/trello.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/aws.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/bootstrap.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="shadow rounded-circle" src="assets/images/logos/wordpress.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/shopify.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/ionic.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/paypal.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/stripe.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="shadow rounded-circle" src="assets/images/logos/apple-pay.svg" alt=""></div>
		    </div><!--//row-->
		    
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="#">View Docs<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
    </section><!--//intergration-section-->
    
    
    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h3 class="mb-2 text-white mb-3">Get Started in No Time</h3>
		    <div class="section-intro text-white mb-3 single-col-max mx-auto">Be-to-you makes it super easy to get your software project online, so you can start promoting or selling your digital product to your audience.</div>
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="https://be-to-you.com">Get Started<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
	</section><!--//cta-section-->
	
<section><app-footer></app-footer></section>