<app-header></app-header>
    <section class="hero-section py-3 py-md-5">
	    <div class="container">
		    <div class="row">
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">						
				    <h1 class="site-headline font-weight-bold mb-3"> <h3 data-reactid="226">More than just creative</h3><span data-reactid="227">
						<p data-reactid="228"><span data-reactid="229">Branding &amp; Art Direction</span>
						  <!-- react-text: 230 --> +
						  <!-- /react-text --><span data-reactid="231">Research &amp; UX</span><!-- react-text: 232 --> 
						   +
						  <!-- /react-text --><span data-reactid="233">Content Strategy</span><!-- react-text: 234 -->
						   +
						  <!-- /react-text --><span data-reactid="235">Interactive Design</span><!-- react-text: 236 -->
						   +
						  <!-- /react-text --><span data-reactid="237">Web Development</span><!-- react-text: 238 -->
						   +
						  <!-- /react-text --><span data-reactid="239">Digital Marketing</span><!-- react-text: 240 -->
						   +
						  <!-- /react-text --><span data-reactid="241">Social Media</span><!-- react-text: 242 -->
						   +
						  <!-- /react-text --><span data-reactid="243">Web Security &amp; Infrastructure</span></p>
					  </span></h1>
				    <div class="site-tagline mb-4"> Be-to-you is a full-service creative agency specializing in interactive design, web development, and digital communications for brands that change the world. Headquartered in Madrid, Spain <span id="typewriter" class="text-primary font-weight-bold"></span>.</div>
				    <div class="cta-btns mb-lg-3">
                    <a class="btn btn-primary mr-2 mb-3" href="pricing.html">Get Started Free<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
					<a class="btn btn-secondary mb-3" href="docs.html">View Docs<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
				    </div>
			    </div>
			    <div class="col-12 col-lg-6 pt-3 mb-5 mb-lg-0">
				    <img class="hero-figure mx-auto" src="assets/images/jhipster_family_member_1.svg" alt="">
			    </div>
		    </div><!--//row-->
		</div>
		
    </section><!--//hero-section-->
    
    <section class="benefits-section theme-bg-light py-5">
	    
	    <div class="container">
		    <h3 class="mb-2 text-center font-weight-bold section-title">How We work!</h3>
		    <div class="mb-5 text-center section-intro">From Web Developers to App Developers to Designers</div>
		    <div class="row">
		        <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-satellite-dish"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Quick and Simple</h5>
					    <div>Fill Out Order Form and We will
							
						Performance, Security, SEO Audit depending on your needs.
						You get a full report of issues and suggested improvements.
						We can also fix the issues for you or suggest next steps.

							<a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
			    <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-angle-double-right"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Lightening Fast</h5>
					    <div>Receive a Quote
												
						Your dedicated team of specialists
						Expert Developers, Quality Assurance Officers/Engineers and Designers at your disposal
						Sprint/Millestone based work with unlimited scope changes
						Full Agile methodology and trackable Project Management Process
						Choose Dedicated Project Manager or manage the project by yourself

						Back-end/Front-end/Full-Stack Engineers
						UI/UX Designers
						DevOps
						QAs
						Project Managers
 <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
			    <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-wrench"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Extendable</h5>
					    <div>Chill Out While We Work 

						Web pages and web applications design based on best practices
						UX/UI Designer at your disposal
						Bespoke or themes-based design - you decide!
						Re-design for a better UI and UX
						Visual Brand Identity to let the competition behind

							<a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="features.html">Learn more &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
			    <div class="item col-12 col-md-6 col-lg-3">
				    <div class="item-inner rounded">
					    <div class="icon-holder text-center mx-auto mb-3">
					        <i class="fas fa-book"></i>
					    </div><!--//icon-holder-->
					    <h5 class="mb-3">Fully Documented</h5>
					    <div>Project managed by us from A to Z
							A project that fulfills all your expectations
							Trackable management system
							Quality Assurance engineer for the whole process
							Price based on a scope or hourly rate
						
							Design and Development - RWD
							Fixed price or hourly-based fee
							Individual evaluation according to your needs
							Complexity and Agile methodology
						 <a class="theme-link" href="https://fontawesome.com/" target="_blank">free FontAwesome icons</a> available.</div>
					    <div class="mt-2"><a href="docs.html">View docs &rarr;</a></div>
				    </div><!--//item-inner-->
			    </div><!--//item-->
			    
		    </div><!--//row-->
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="features.html">View All Features<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
	    
    </section><!--//benefits-section-->
    
    <section class="how-section py-5">
	    <div class="container">
		    <h3 class="mb-2 text-center font-weight-bold section-title">How Does It Work</h3>
		    <div class="mb-5 text-center section-intro">You're only a few simple steps away</div>
		    
		    <div class="row">
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-loading-progress.svg" alt="">
					    <div class="arrow-holder d-none d-lg-inline-block"></div>
				    </div><!--//icon-holder-->
				    <div class="desc p-3">
						<h5><span class="step-count mr-2">1</span>Download</h5>
					    <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				    </div><!--//desc-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-window.svg" alt="">
					    <div class="arrow-holder d-none d-lg-inline-block"></div>
				    </div><!--//icon-holder-->
				    <div class="desc p-3">
						<h5><span class="step-count mr-2">2</span>Customize</h5>
					    <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				    </div><!--//desc-->
			    </div><!--//item-->
			    <div class="item col-12 col-md-4">
				    <div class="icon-holder">
					    <img src="assets/images/streamline-free/monitor-cash-credit-card.svg" alt="">
				    </div><!--//icon-holder-->
				    <div class="desc p-3">
						<h5><span class="step-count mr-2">3</span>Launch</h5>
					    <p>The illustrations used in this section are from <a href="https://transactions.sendowl.com/stores/8764/151385" target="_blank">Streamline's free illustrations pack</a>. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				    </div><!--//desc-->
			    </div><!--//item-->
		    </div><!--//row-->
	    </div><!--//container-->
    </section><!--//how-section-->
    
   
						
                       
  
    <div class="container"><hr></div>
    <section class="logos-section theme-bg-primary py-5 text-center">
	    <div class="container">
		    <h3 class="text-center">You're In Good Company</h3>
	    <div class="section-intro mb-5">Join 500,000+ users around the world lorem ipsum dolor sit amet</div>
		    <div class="logos-row row mx-auto"> 
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-1.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-2.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-3.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-4.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-5.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	            <div class="item col-6 col-md-4 mb-3 mb-lg-0">
		            <div class="item-inner">
		                <img src="assets/images/logos/logo-6.svg" alt="logo">
		            </div><!--//item-inner-->
	            </div><!--//item-->
	        </div>    
	    </div><!--//container-->
    </section><!--//logo-section-->
    
    <section class="testimonial-section pb-5">
	    <div class="container">
		    <div class="testimonial-carousel owl-carousel owl-theme">
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-1.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-2.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-facebook"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-3.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-github"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-4.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-product-hunt"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-5.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-6.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-7.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item">
	                <div class="item-inner rounded shadow-sm">
		                <div class="media source-holder">
						    <img src="assets/images/users/user-8.jpg" class="source-profile mr-3" alt="">
						    <div class="media-body source-meta align-self-center ">
							    <div class="name">User Name</div>
							    <div class="info"><a href="#">@username</a></div>
						    </div>
						    <div class="source-icon"><i class="fab fa-twitter"></i></div>
						</div><!--//media-->
						    
					    <div class="quote-holder">
						    <blockquote class="quote-content mb-0">
							    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
						    </blockquote>
					    </div><!--//quote-holder-->
	                </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//testimonial-carousel-->
            <div class="pt-5 text-center">
			    <a class="btn btn-light" href="pricing.html">Get Started<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div><!--//container-->
    </section><!--//testiomonial-section-->
    <div class="container"><hr></div>
    <section class="integration-section text-center py-5">
	    <div class="container">
		    <h3 class="mb-2">Seamless Integrations</h3>
		    <div class="section-intro mb-3">Section intro goes here lorem ipsum</div>
		    <div class="integration-list row justify-content-center py-5">
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/slack.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/jira.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/trello.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/aws.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/bootstrap.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="shadow rounded-circle" src="assets/images/logos/wordpress.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/shopify.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/ionic.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/paypal.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 bottom-line-lg"><img class="shadow rounded-circle" src="assets/images/logos/stripe.svg" alt=""></div>
			    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5"><img class="shadow rounded-circle" src="assets/images/logos/apple-pay.svg" alt=""></div>
		    </div><!--//row-->
		    
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="#">View Docs<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
    </section><!--//intergration-section-->
    
    
    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h3 class="mb-2 text-white mb-3">Get Started in No Time</h3>
		    <div class="section-intro text-white mb-3 single-col-max mx-auto">Be-to-you makes it super easy to get your software project online, so you can start promoting or selling your digital product to your audience.</div>
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="https://be-to-you.com">Get Started<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
	</section><!--//cta-section-->

	<div class="page-content py-5">
		<section class="plans-section mb-5 pb-5">
			<div class="container">
				<div class="plan-switch text-center mb-4" id="plan-switch">
					
					<ul class="radio-switch mx-auto shadow-sm">
						<li class="radio-switch-item">
							<input type="radio" class="radio-switch-input sr-only" id="radio1" name="radioSwitch" data-plan-cost="plan-cost-monthly" checked>
							<label for="radio1" class="radio-switch-label">Monthly</label>
						</li>
						
						<li class="radio-switch-item">
							<input type="radio" class="radio-switch-input sr-only" id="radio2" data-plan-cost="plan-cost-yearly" name="radioSwitch">
							<label for="radio2" class="radio-switch-label">Yearly</label>
							<div aria-hidden="true" class="radio-switch-marker"></div>
						</li>
					</ul><!--//radio-switch-->
					
					<div class="mb-5 plan-switch-intro">Switch to yearly plans and save!</div>
					
				</div>
				<div class="plan-items row justify-content-center" id="plan-items">
					<div class="col-12 col-md-6 col-lg-3">
						<div class="item shadow rounded">
							<div class="plan-header text-center">
								<h3 class="plan-title">Personal</h3>
								<div class="plan-cost">
									<div class="plan-cost-monthly">
										<span class="currency">$</span>
										<span class="number">0</span>
										<span class="unit">/month</span>
									</div>
									<div class="plan-cost-yearly" style="display: none">
										<span class="currency">$</span>
										<span class="number">0</span>
										<span class="unit">/year</span>
									</div>
								</div><!--//plan-cost-->
								<div class="plan-cta">
									<a class="btn-primary btn" href="#">Get Started</a>
								</div>
							</div><!--//plan-header-->
							
							<div class="plan-content">
								<div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
								<ul class="plan-desc list-unstyled">
									<li>Feature Lorem<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature tempus</li>
									<li>Feature ipsum</li>
								</ul>
							</div><!--//plan-content-->
						</div><!--//item-->
					</div><!--//col-->
					<div class="col-12 col-md-6 col-lg-3">
						<div class="item shadow rounded">
							<div class="plan-header text-center">
								<h3 class="plan-title">Pro</h3>
								<div class="plan-cost">
									<div class="plan-cost-monthly">
										<span class="currency">$</span>
										<span class="number">9</span>
										<span class="unit">/month</span>
									</div><div class="plan-cost-yearly" style="display:none">
										<span class="currency">$</span>
										<span class="number">99</span>
										<span class="unit">/year</span>
									</div>
								</div><!--//plan-cost-->
								<div class="plan-cta">
									<a class="btn-primary btn" href="#">Get Started</a>
								</div>
							</div><!--//plan-header-->
							
							<div class="plan-content">
								<div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
								<ul class="plan-desc list-unstyled">
									<li>Feature Lorem <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									
									<li>Feature tempus <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature consectetur<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature nulla nunc<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature vitae leo<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
								</ul>
							</div><!--//plan-content-->
						</div><!--//item-->
					</div><!--//col-->
					<div class="col-12 col-md-6 col-lg-3">
						<div class="item shadow rounded">
							<div class="plan-header text-center">
								<h3 class="plan-title">Team</h3>
								<div class="plan-cost">
									<div class="plan-cost-monthly">
										<span class="currency">$</span>
										<span class="number">99</span>
										<span class="unit">/month</span>
									</div>
									<div class="plan-cost-yearly" style="display:none">
										<span class="currency">$</span>
										<span class="number">800</span>
										<span class="unit">/year</span>
									</div>
								</div><!--//plan-cost-->
								<div class="plan-cta">
									<a class="btn-primary btn" href="#">Get Started</a>
								</div>
							</div><!--//plan-header-->
							
							<div class="plan-content">
								<div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
								<ul class="plan-desc list-unstyled">
									<li>Feature Lorem <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature tempus<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature Ipsum<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature consectetur<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature nulla nunc<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature vitae leo<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature sit amet<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									
								</ul>
							</div><!--//plan-content-->
						</div><!--//item-->
					</div><!--//col-->
					<div class="col-12 col-md-6 col-lg-3">
						<div class="item shadow rounded">
							<div class="plan-header text-center">
								<h3 class="plan-title">Enterprise</h3>
								<div class="plan-cost">
									
									<span class="number"><i class="far fa-building"></i></span>
									
								</div><!--//plan-cost-->
								<div class="plan-cta">
									<a class="btn-primary btn" href="#">Contact Us</a>
								</div>
							</div><!--//plan-header-->
							
							<div class="plan-content">
								<div class="plan-intro">Extra plan info goes here lorem ipsum dolor sit amet.</div>
								<ul class="plan-desc list-unstyled">
									<li>Feature Lorem <a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature tempus<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature Ipsum<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature consectetur<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature nulla nunc<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature vitae leo<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature sit amet<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature adipiscing<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
									<li>Feature aptent taciti sociosqu<a tabindex="0" class="theme-icon-holder info-popover-trigger" data-toggle="popover" data-content="You can use popover to give more info about the feature." data-trigger="hover"><i class="fas fa-info" ></i></a></li>
								</ul>
							</div><!--//plan-content-->
						</div><!--//item-->
					</div><!--//col-->
						
				</div><!--//row-->
			</div><!--//container-fluid-->
		</section><!--//plans-section-->

		<section class="testimonial-cards-section py-5 theme-bg-light">
			<div class="container">
				<h3 class="text-center mb-2">Trusted By People Like You</h3>
				<div class="section-intro text-center mb-5">Don’t take our word for it. See what our users are saying...</div>
				<div class="testimonial-card-columns card-columns">
					<div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-1.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-twitter"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    👍You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>⭐️⭐️⭐️⭐️⭐️
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-2.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-facebook"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    🚀You can list user reviews or testimonials here. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.					    
								</blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-3.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-product-hunt"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-4.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-twitter"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-5.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-twitter"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-6.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-twitter"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. 
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-7.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-twitter"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-8.jpg" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-twitter"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 👍😄
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
	                <div class="card shadow-sm">
		                <div class="card-body rounded">
			                <div class="media source-holder">
							    <img src="assets/images/users/user-9.html" class="source-profile mr-3" alt="">
							    <div class="media-body source-meta align-self-center ">
								    <div class="name">User Name</div>
								    <div class="info"><a href="#">@username</a></div>
							    </div>
							    <div class="source-icon"><i class="fab fa-product-hunt"></i></div>
							</div><!--//media-->
							    
						    <div class="quote-holder">
							    <blockquote class="quote-content mb-0">
								    You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 👍😄
							    </blockquote>
						    </div><!--//quote-holder-->
		                </div><!--//card-body-->
	                </div><!--//card-->
				</div><!--//testimonial-card-columns-->
			</div><!--//container-->
		</section><!--//testimonial-cards-section-->

		<section class="faq-section py-5">
			<div class="container single-col-max">
				<h3 class="text-center mb-5">Frequently Asked Questions</h3>
				<div id="faq-accordion" class="faq-accordion mx-auto">
			        <div class="card border-0 mb-4 shadow-sm rounded">
		                <div class="card-header border-0 p-4 theme-bg-light rounded">
		                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq1" aria-expanded="false"><i class="fas fa-chevron-down"></i>What's sit amet quam eget lacinia?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq1">
		                    <div class="card-body p-4 bg-white rounded">
		                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->
		            <div class="card border-0 mb-4 shadow-sm rounded">
		                <div class="card-header border-0 p-4 theme-bg-light rounded">
		                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq2" aria-expanded="false"><i class="fas fa-chevron-down"></i>How to ipsum dolor sit amet quam tortor?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq2">
		                    <div class="card-body p-4 bg-white rounded">
		                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->
		            <div class="card border-0 mb-4 shadow-sm rounded">
		                <div class="card-header border-0 p-4 theme-bg-light rounded">
		                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq3" aria-expanded="false"><i class="fas fa-chevron-down"></i>Can I ultricies nec vulputate eget?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq3">
		                    <div class="card-body p-4 bg-white rounded">
		                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->
		            <div class="card border-0 mb-4 shadow-sm rounded">
		                <div class="card-header border-0 p-4 theme-bg-light rounded">
		                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq4" aria-expanded="false"><i class="fas fa-chevron-down"></i>Where can I tellus eget auctor condimentum?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq4">
		                    <div class="card-body p-4 bg-white rounded">
		                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->
	            
		            <div class="card border-0 mb-4 shadow-sm rounded">
		                <div class="card-header border-0 p-4 theme-bg-light rounded">
		                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq5" aria-expanded="false"><i class="fas fa-chevron-down"></i>Do you elementum turpis semper imperdiet?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq5">
		                    <div class="card-body p-4 bg-white rounded">
		                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->
		            <div class="card border-0 mb-4 shadow-sm rounded">
		                <div class="card-header border-0 p-4 theme-bg-light rounded">
		                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq6" aria-expanded="false"><i class="fas fa-chevron-down"></i>How much imperdiet lorem sem non nisl?</a></h4>
		                </div>
		    
		                <div class="card-collapse collapse" id="faq6">
		                    <div class="card-body p-4 bg-white rounded">
		                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae. 
		                    </div><!--//card-body-->
		                </div>
		            </div><!--//card-->
		            
	            
	            </div><!--//faq-accordion-->
	            <div class="text-center">
	                <h4 class="pt-5">Have more questions? </h4>
	                <div class="section-intro">Check our <a href="docs.html">docs</a> or <a href="contact.html">contact us</a>. We're more than happy to help.</div>
	            </div>
			</div><!--//container-->
		</section><!--//faq-section-->
	</div><!--//page-content-->   
	
<section><app-footer></app-footer></section>