<app-header></app-header>
<app-home></app-home>
<!--<app-about></app-about>-->
<!--<app-photos></app-photos>-->
<app-howdoeswork></app-howdoeswork>
<app-contact></app-contact>
<app-howwework></app-howwework>
<app-features></app-features>
<app-integrations></app-integrations>
<app-teaser></app-teaser>
<!--<app-teaser></app-teaser>-->
<!--<app-testimonials></app-testimonials>-->
<!--<app-faqs></app-faqs>-->
<!--<app-testimonials2></app-testimonials2>-->
<app-pricingmarketing></app-pricingmarketing>
<app-teaser></app-teaser>
<router-outlet></router-outlet>
<section><app-footer></app-footer></section>
