<div class="page-content py-5">
    <div class="container-fluid">
        <ul class="features-tab nav nav-pills justify-content-center" id="features-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="feature-tab-1" data-toggle="tab" href="#feature-1" role="tab"
                    aria-controls="feature-1" aria-selected="true"><i
                        class="fas fa-shapes mr-2 d-none d-lg-inline-block"></i><span>Web/App Development<small
                            class="d-none d-lg-inline font-weight-normal">We Create Digital Products</small></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="feature-tab-2" data-toggle="tab" href="#feature-2" role="tab"
                    aria-controls="feature-2" aria-selected="false"><i
                        class="fas fa-laptop-code mr-2 d-none d-lg-inline-block"></i>Digital Marketing <small
                        class="d-none d-lg-inline font-weight-normal">We Build Digital Products</small></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="feature-tab-3" data-toggle="tab" href="#feature-3" role="tab"
                    aria-controls="feature-3" aria-selected="false"><i
                        class="fas fa-laptop-code mr-2 d-none d-lg-inline-block"></i>Digital Transformation<small
                        class="d-none d-lg-inline font-weight-normal">We Transform Digital Products</small></a>
            </li>

        </ul>
    </div>
    <!--//container-fluid-->
    <div class="container">
        <div class="features-tab-content tab-content" id="features-tab-content">
            <div class="feature-1-pane tab-pane fade show active py-5" id="feature-1" role="tabpanel"
                aria-labelledby="feature-tab-1">

                <div class="zigzag-layout">
                    <div class="item py-5 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5 mb-5 mb-md-0">
                                <div class="content pr-md-5">
                                    <h3 class="heading">Video Example</h3>
                                    <div class="desc">
                                        <p>You can embed Youtube video as well.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                            parturient montes, nascetur ridiculus mus.</p>

                                        <div class="tech-icons mb-3">
                                            <i class="fab fa-python mr-2"></i>
                                            <i class="fab fa-github mr-2"></i>
                                            <i class="fab fa-chrome mr-2"></i>
                                            <i class="fab fa-firefox"></i>

                                        </div>
                                        <!--//tech-icons-->

                                        <div class="cta-link"><a class="btn btn-light" href="#">View Docs<i
                                                    class="fas fa-arrow-alt-circle-right ml-2"></i></a></div>
                                    </div>
                                    <!--//desc-->

                                </div>
                                <!--//content-->
                            </div>
                            <!--//col-->
                            <div class="col-12 col-md-7">
                                <div class="content-figure">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/V8nBZbbJePs" frameborder="0" 
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <!--//content-->
                            </div>
                            <!--//col-->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//item-->

                    <div class="item py-5 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5 order-md-1 pl-md-5 mb-5 mb-md-0">
                                <div class="content">
                                    <h3 class="heading">Screencast Example</h3>
                                    <div class="desc">
                                        <p>You can use a screen recording software to create screencasts (in gif/video
                                            format) to showcase your software features. Here is a list of the <a
                                                href="#"><i class="fas fa-external-link-alt"></i> best screen recording
                                                softwares</a>.</p>
                                        <ul class="list-unstyled py-3 mb-0">
                                            <li class="mb-3"><span class="theme-icon-holder mr-2"><i
                                                        class="fas fa-check"></i></span>List item lorem ipsum</li>
                                            <li class="mb-3"><span class="theme-icon-holder mr-2"><i
                                                        class="fas fa-check"></i></span>List item donec pede justo,</li>
                                            <li class="mb-3"><span class="theme-icon-holder mr-2"><i
                                                        class="fas fa-check"></i></span>List item ullamcorper ultricies
                                                nisi</li>

                                        </ul>
                                        <div class="tech-icons mb-3">
                                            <i class="fab fa-cc-paypal mr-2"></i>
                                            <i class="fab fa-cc-apple-pay mr-2"></i>
                                            <i class="fab fa-cc-stripe"></i>

                                        </div>
                                        <!--//tech-icons-->

                                        <div class="cta-link"><a class="btn btn-light" href="#">View Docs<i
                                                    class="fas fa-arrow-alt-circle-right ml-2"></i></a></div>

                                    </div>
                                    <!--//desc-->

                                </div>
                                <!--//content-->
                            </div>
                            <!--//col-->
                            <div class="col-12 col-md-7 order-md-0">
                                <div class="content-figure animated fadeIn delay-3s">
                                    <figure class="figure">
                                        <img class="rounded shadow-lg img-fluid"
                                            src="assets/images/features/devcard-theme-darkmode.gif" alt="">
                                        <figcaption class="figure-caption mt-4 text-center text-muted">Credit: this
                                            screencast is taken from <a class="theme-link"
                                                href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/"
                                                target="_blank"><i class="fas fa-external-link-alt mx-1"></i>DevCard
                                                theme</a></figcaption>
                                    </figure>

                                </div>
                                <!--//content-->
                            </div>
                            <!--//col-->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//item-->

                    <div class="item py-5 mb-5">

                        <div class="row">
                            <div class="col-12 col-md-5 mb-5 mb-md-0">
                                <div class="content pr-5">
                                    <h3 class="heading">Image Example</h3>
                                    <div class="desc">
                                        <p>You can take screenshots of your software and showcase each features.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                            parturient montes, nascetur ridiculus mus.</p>
                                        <div class="tech-icons mb-3">
                                            <i class="fab fa-js-square mr-2"></i>
                                            <i class="fab fa-bootstrap mr-2"></i>
                                            <i class="fab fa-html5 mr-2"></i>
                                            <i class="fab fa-sass mr-2"></i>
                                            <i class="fab fa-sketch"></i>
                                        </div>
                                        <!--//tech-icons-->

                                        <div class="cta-link"><a class="btn btn-light" href="#">View Docs<i
                                                    class="fas fa-arrow-alt-circle-right ml-2"></i></a></div>
                                    </div>
                                    <!--//desc-->

                                </div>
                                <!--//content-->
                            </div>
                            <!--//col-->
                            <div class="col-12 col-md-7">
                                <div class="content-figure">
                                    <figure class="figure">
                                        <img class="img-rounded shadow-lg img-fluid rounded"
                                            src="assets/images/features/appify-theme-projects-overview.jpg" alt="">

                                        <figcaption class="figure-caption mt-4 text-center text-muted">Credit: the above
                                            screenshot is taken from <a class="theme-link"
                                                href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/"
                                                target="_blank"><i class="fas fa-external-link-alt mx-1"></i>Appify
                                                theme</a></figcaption>
                                    </figure>
                                </div>
                                <!--//content-->
                            </div>
                            <!--//col-->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//item-->


                    <div class="item py-5">
                        <div class="row">
                            <div class="col-12 col-md-5 order-md-1 mb-5 mb-md-0">
                                <div class="content pl-md-5">
                                    <h3 class="heading">Github Code Snippet</h3>
                                    <div class="desc">
                                        <p>You can use <a href="https://gist.github.com/" target="_blank">Github
                                                Gist</a> to display code snippets.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                            parturient montes, nascetur ridiculus mus.</p>
                                        <div class="tech-icons mb-3">
                                            <i class="fab fa-angular mr-2"></i>
                                            <i class="fab fa-react mr-2"></i>
                                            <i class="fab fa-vuejs mr-2"></i>
                                            <i class="fab fa-grunt mr-2"></i>
                                            <i class="fab fa-gulp"></i>
                                        </div>
                                        <!--//tech-icons-->

                                        <div class="cta-link"><a class="btn btn-light" href="#">View Docs<i
                                                    class="fas fa-arrow-alt-circle-right ml-2"></i></a></div>
                                    </div>
                                    <!--//desc-->

                                </div>
                                <!--//content-->
                            </div>
                            <!--//col-->
                            <div class="col-12 col-md-7 order-md-0">
                              <div class="content-figure animated fadeIn delay-3s">
                                  <figure class="figure">
                                      <img class="rounded shadow-lg img-fluid"
                                          src="assets/images/features/devcard-theme-darkmode.gif" alt="">
                                      <figcaption class="figure-caption mt-4 text-center text-muted">Credit: this
                                          screencast is taken from <a class="theme-link"
                                              href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/devcard-bootstrap-4-vcard-portfolio-template-for-software-developers/"
                                              target="_blank"><i class="fas fa-external-link-alt mx-1"></i>DevCard
                                              theme</a></figcaption>
                                  </figure>

                              </div>
                              <!--//content-->
                          </div>
                            <!--//col-->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//item-->

                </div>
                <!--//row-->
            </div>
            <!--//feature-1-pane-->
            <div class="feature-2-pane tab-pane fade py-5" id="feature-2" role="tabpanel"
                aria-labelledby="feature-tab-2">
                <div class="umbrella-layout">
                    <div class="item pb-5">
                        <h3 class="heading text-center mb-4">
                            Screencast Example
                        </h3>
                        <!--//item-intro-->
                        <div class="item-figure text-center mb-5">
                            <figure class="figure single-col-max">
                                <img class="figure-image img-fluid rounded mx-auto shadow-lg mb-4"
                                    src="assets/images/features/appify-add-members.gif" alt="">
                                <figcaption class="figure-caption text-center">Credit: the above screencast is from <a
                                        class="theme-link"
                                        href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/"
                                        target="_blank"><i class="fas fa-external-link-alt mx-1"></i>Appify Theme</a>
                                </figcaption>
                            </figure>

                        </div>
                        <div class="item-content">
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <div class="card-body p-3 p-lg-5">
                                            <h5 class="card-title">Subheading One</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                                quam felis.</p>
                                            <a href="#" class="btn btn-light">View Docs</a>
                                        </div>
                                    </div>
                                    <!--//card-->
                                </div>
                                <!--//col-->
                                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <div class="card-body p-3 p-lg-5">
                                            <h5 class="card-title">Subheading Two</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                                quam felis.</p>
                                            <a href="#" class="btn btn-light">View Docs</a>
                                        </div>
                                    </div>
                                    <!--//card-->
                                </div>
                                <!--//col-->
                                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <div class="card-body p-3 p-lg-5">
                                            <h5 class="card-title">Subheading Three</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                                quam felis.</p>
                                            <a href="#" class="btn btn-light">View Docs</a>
                                        </div>
                                    </div>
                                    <!--//card-->
                                </div>
                                <!--//col-->
                            </div>
                            <!--//row-->
                        </div>
                    </div>
                    <!--//item-->
                    <div class="item py-5">
                        <h3 class="heading text-center mb-4">
                            Code Snippet Example
                        </h3>
                        <!--//item-intro-->
                        <div class="item-figure mb-5 text-center">

                            <div class="code-snippet single-col-max shadow-lg mx-auto p-3 mb-4 rounded">
                                <pre class="mb-0"><code class="hljs python"><span class="hljs-meta">@requires_authorization</span>
<span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">somefunc</span><span class="hljs-params">(param1=<span class="hljs-string">''</span>, param2=<span class="hljs-number">0</span>)</span>:</span>
<span class="hljs-string">r'''A docstring'''</span>
<span class="hljs-keyword">if</span> param1 &gt; param2: <span class="hljs-comment"># interesting</span>
    <span class="hljs-keyword">print</span> <span class="hljs-string">'Gre\'ater'</span>
<span class="hljs-keyword">return</span> (param2 - param1 + <span class="hljs-number">1</span> + <span class="hljs-number">0b10l</span>) <span class="hljs-keyword">or</span> <span class="hljs-literal">None</span>

<span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">SomeClass</span>:</span>
<span class="hljs-keyword">pass</span>

<span class="hljs-meta">&gt;&gt;&gt; </span>message = <span class="hljs-string">'''interpreter
<span class="hljs-meta">... </span>prompt'''</span>
</code></pre>
                            </div>
                            <!--//code-snippet-->

                            <div class="text-muted text-center figure-caption">You can use <a class="theme-link"
                                    href="https://highlightjs.org/" target="_blank"><i
                                        class="fas fa-external-link-alt mx-1"></i>Highlight.js</a> to embed code
                                snippets</div>

                        </div>
                        <div class="item-content">
                            <div class="row">
                                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <div class="card-body p-3 p-lg-5">
                                            <h5 class="card-title">Subheading One</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                                quam felis.</p>
                                            <a href="#" class="btn btn-light">View Docs</a>
                                        </div>
                                    </div>
                                    <!--//card-->
                                </div>
                                <!--//col-->
                                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <div class="card-body p-3 p-lg-5">
                                            <h5 class="card-title">Subheading Two</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                                quam felis.</p>
                                            <a href="#" class="btn btn-light">View Docs</a>
                                        </div>
                                    </div>
                                    <!--//card-->
                                </div>
                                <!--//col-->
                                <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                                    <div class="card shadow">
                                        <div class="card-body p-3 p-lg-5">
                                            <h5 class="card-title">Subheading Three</h5>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing
                                                elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                                quam felis.</p>
                                            <a href="#" class="btn btn-light">View Docs</a>
                                        </div>
                                    </div>
                                    <!--//card-->
                                </div>
                                <!--//col-->
                            </div>
                            <!--//row-->
                        </div>
                    </div>
                    <!--//item-->
                </div>
                <!--//umbrella-layout-->
            </div>
            <!--//feature-2-pane-->
            <div class="feature-3-pane tab-pane fade py-5 text-center" id="feature-3" role="tabpanel"
                aria-labelledby="feature-tab-3">
                <div class="carousel-layout">
                    <h3 class="heading text-center mb-4">
                        Feature Carousel Example
                    </h3>
                    <!--//item-intro-->
                    <div class="features-carousel owl-carousel owl-theme single-col-max mx-auto">
                        <div class="item" data-hash="item-1">
                            <img class="img-fluid" src="assets/images/features/stackblitz-example-1.gif" alt="">
                            <div class="figure-caption text-center mt-3">Credit: the above screencast is from <a
                                    href="https://medium.com/stackblitz-blog/google-cloud-meet-stackblitz-da13f4e4fc29"
                                    target="_blank"><i class="fas fa-external-link-alt mx-1"></i>StackBlitz</a></div>
                        </div>
                        <div class="item" data-hash="item-2">
                            <img class="img-fluid" src="assets/images/features/stackblitz-example-2.gif" alt="">
                            <div class="figure-caption text-center mt-3">Credit: the above screencast is from <a
                                    href="https://medium.com/stackblitz-blog/google-cloud-meet-stackblitz-da13f4e4fc29"
                                    target="_blank"><i class="fas fa-external-link-alt mx-1"></i>StackBlitz</a></div>
                        </div>
                        <div class="item" data-hash="item-3">
                            <img class="img-fluid" src="assets/images/features/stackblitz-example-3.gif" alt="">
                            <div class="figure-caption text-center mt-3">Credit: the above screencast is from <a
                                    href="https://medium.com/stackblitz-blog/google-cloud-meet-stackblitz-da13f4e4fc29"
                                    target="_blank"><i class="fas fa-external-link-alt mx-1"></i>StackBlitz</a></div>
                        </div>
                        <div class="item" data-hash="item-4">
                            <img class="img-fluid" src="assets/images/features/stackblitz-example-4.gif" alt="">
                            <div class="figure-caption text-center mt-3">Credit: the above screencast is from <a
                                    href="https://medium.com/stackblitz-blog/google-cloud-meet-stackblitz-da13f4e4fc29"
                                    target="_blank"><i class="fas fa-external-link-alt mx-1"></i>StackBlitz</a></div>
                        </div>
                    </div>
                    <div class="features-carousel-nav text-left mt-4">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                                <a class="card carousel-nav-link shadow border-0" href="#item-1">
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="theme-icon-holder mr-2 pt-2"><i
                                                    class="fas fa-rocket"></i></span>Nav Heading One</h5>
                                        <div class="card-text">Feature desc lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Curabitur eros elit, volutpat non erat elementum, ultricies
                                            consequat libero. </div>
                                    </div>
                                </a>
                                <!--//carousel-nav-link-->
                            </div>
                            <!--//col-->
                            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                                <a class="card carousel-nav-link shadow border-0" href="#item-2">
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="theme-icon-holder mr-2 pt-2"><i
                                                    class="fas fa-user-shield"></i></span>Nav Heading Two</h5>
                                        <div class="card-text">Feature desc lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Curabitur eros elit, volutpat non erat elementum, ultricies
                                            consequat libero.</div>
                                    </div>
                                </a>
                                <!--//carousel-nav-link-->
                            </div>
                            <!--//col-->
                            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                                <a class="card carousel-nav-link shadow border-0" href="#item-3">
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="theme-icon-holder mr-2 pt-2"><i
                                                    class="fas fa-code-branch"></i></span>Nav Heading Three</h5>
                                        <div class="card-text">Feature desc lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Curabitur eros elit, volutpat non erat elementum, ultricies
                                            consequat libero.</div>
                                    </div>
                                </a>
                                <!--//carousel-nav-link-->
                            </div>
                            <!--//col-->
                            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                                <a class="card carousel-nav-link shadow border-0" href="#item-4">
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="theme-icon-holder mr-2 pt-2"><i
                                                    class="fas fa-database"></i></span>Nav Heading Four</h5>
                                        <div class="card-text">Feature desc lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Curabitur eros elit, volutpat non erat elementum, ultricies
                                            consequat libero.</div>
                                    </div>
                                </a>
                                <!--//carousel-nav-link-->
                            </div>
                            <!--//col-->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//features-carousel-nav-->
                </div>
                <!--//carousel-layout-->
            </div>
            <!--//feature-3-pane-->

        </div>
    </div>
    <!--//container-->
</div>
<!--//page-content-->

