<section class="cta-section text-center py-5 theme-bg-dark position-relative">
  <div class="theme-bg-shapes-right"></div>
  <div class="theme-bg-shapes-left"></div>
  <div class="container">
      <h3 class="mb-2 text-white mb-3">Get Started in No Time</h3>
      <div class="section-intro text-white mb-3 single-col-max mx-auto">Be-to-you makes it super easy to get your software project online, so you can start promoting or selling your digital product to your audience.</div>
      <div class="pt-3 text-center">
          <a class="btn btn-light" href="https://be-to-you.com">Get Started<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
      </div>
  </div>
</section><!--//cta-section-->
