<div class="container"><hr></div>
<section class="testimonial-section pb-5">
    <div class="container">
        <div class="testimonial-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-1.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-twitter"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-2.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-facebook"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-3.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-github"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-4.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-product-hunt"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-5.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-twitter"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-6.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-twitter"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-7.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-twitter"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item">
                <div class="item-inner rounded shadow-sm">
                    <div class="media source-holder">
                        <img src="assets/images/users/user-8.jpg" class="source-profile mr-3" alt="">
                        <div class="media-body source-meta align-self-center ">
                            <div class="name">User Name</div>
                            <div class="info"><a href="#">@username</a></div>
                        </div>
                        <div class="source-icon"><i class="fab fa-twitter"></i></div>
                    </div><!--//media-->

                    <div class="quote-holder">
                        <blockquote class="quote-content mb-0">
                            You can list user reviews or testimonials here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat vel quam cursus sagittis. Curabitur vestibulum mollis leo, sed ultricies felis egestas ac.
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//testimonial-carousel-->
        <div class="pt-5 text-center">
            <a class="btn btn-light" href="pricing.html">Get Started<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        </div>
    </div><!--//container-->
</section><!--//testiomonial-section-->
